<div class="container">


  <div *ngIf="message">
    <h2>{{message}}</h2>
  </div>
  <div *ngIf="duplicate">
    <h1>{{duplicateMessage}}</h1>
  </div>
  <div *ngIf="invalidForm">
    <h1>{{invalidFormMessage}}</h1>
  </div>

  <div class="row center">
    <form novalidate (ngSubmit)="createNewPerson()" class="form-group col-6" [formGroup]="addItemForm">
      <div>
        <label for="First Name">Keresztnév <span class="star">*</span></label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName"
          name='firstName' (focus)='focusFunction()'>
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">

          <div *ngIf="firstName.errors.required">
            A keresztnév kötelező mező!
          </div>
          <div *ngIf="firstName.errors.minlength">
            A keresztnévnek legalább 3 karakter hosszúnak kell lennie!
          </div>
          <div *ngIf="firstName.errors.pattern">
            A keresztnév csak betűket tartalmazhat!
          </div>
        </div>
      </div>
      <div>
        <label for="Last Name">Vezetéknév <span class="star">*</span></label>
        <input type="text" class="form-control" id="lastName" formControlName="lastName"
          name='lastName' (focus)='focusFunction()'>
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            A vezetéknév kötelező mező!
          </div>
          <div *ngIf="lastName.errors.minlength">
            A vezetéknévnek legalább 2 karakter hosszúnak kell lennie!
          </div>
          <div *ngIf="lastName.errors.pattern">
            A vezetéknév csak betűket tartalmazhat!
          </div>
        </div>
      </div>
      <div>
        <label for="startNumber">Rajtszám <span class="star">*</span></label>
        <input type="text" class="form-control" id="startNumber" formControlName="startNumber"
          name='startNumber' (focus)='focusFunction()'>
        <div *ngIf="startNumber.invalid && (startNumber.dirty || startNumber.touched)" class="alert alert-danger">
          <div *ngIf="startNumber.errors.required">
            A rajtszám kötelező mező!
          </div>
          <div *ngIf="startNumber.errors.min">
            a rajtszámnak minimum 1-nek kell lennie!
          </div>
          <div *ngIf="startNumber.errors.max">
            a rajtszámnak maximum 1200-at adhatsz meg!
          </div>
          <div *ngIf="startNumber.errors.pattern">
            A rajtszám csak számokat tartalmazhat!
          </div>
        </div>
      </div>

      <div>
        <label for="team">Csapatnév <span class="star">*</span></label>
        <input type="text" class="form-control" id="team" formControlName="team" name='team' (focus)='focusFunction()'>
        <div *ngIf="team.invalid && (team.dirty || team.touched)" class="alert alert-danger">

          <div *ngIf="team.errors.required">
            A csapatnév kötelező mező!
          </div>
          <div *ngIf="team.errors.minlength">
            A a csapatnévnek legalább 2 karakter hosszúnak kell lennie!
          </div>
          <div *ngIf="team.errors.maxlength">
            A a csapatnév maximum 40 karaktert tartalmazhat!
          </div>

        </div>
      </div>

      <div>
        <label for="priority">Kiemelés</label>
        <input type="text" class="form-control" id="priority" formControlName="priority"
          name='priority' (focus)='focusFunction()'>
        <div *ngIf="priority.invalid && (priority.dirty || priority.touched)" class="alert alert-danger">
          <div *ngIf="priority.errors.required">
            A kiemelés kötelező mező! Amennyiben nem kiemelt a versenyző, kérjük adjon meg egy 0-át.
          </div>
          <div *ngIf="priority.errors.pattern">
            A kiemelés csak számokat tartalmazhat!
          </div>
          <div *ngIf="priority.errors.max">
            a kiemelésnek maximum 99-et adhatsz meg!
          </div>
        </div>
      </div>
      <br>
      <br>
      <span class="star">A csillaggal jelölt mező kitöltése kötelező!</span>
      <br>
      <br>
      <div>
        <button type="submit" id="submitButton" class="btn btn-primary btn-lg"> Submit </button>
      </div>

    </form>

  </div>
</div>
