<div class='container'>

  <div>
    <button type="button" class="btn btn-info" (click)=deletepeople()>Futam törlése</button>
  </div>
  <br>
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Pálya</th>
      <th>Rajtszám</th>
      <th>Név</th>
      <th>Csapat</th>

    </tr>
    <tr *ngFor="let person of People">
      <td>
        {{person.field}}
      </td>
      <td>
        {{person.startNumber}}
      </td>
      <td class='name'>
        <span>
          {{person.lastName}} {{person.firstName}}
        </span>

        <span *ngIf='person.prio' class="prio">
          {{person.priority}}
        </span>
      </td>

      <td>
        {{person.team}}
      </td>

    </tr>
  </table>

</div>
