<div class='container'>

  <div>
    <button type="button" class="btn btn-info" (click)=deletepeople() >Összes versenyző törlése</button>
  </div>
  <br>
<table class="table table-bordered table-inverse">
  <tr>
    <th>Field</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Start Number</th>
    <th>Team</th>
    <th>Priority</th>

  </tr>
  <tr *ngFor="let person of People">
    <td>
      {{person.field}}
    </td>
    <td>
      {{person.firstName}}
    </td>
    <td>
      {{person.lastName}}
    </td>
    <td>
      {{person.startNumber}}
    </td>
    <td>
      {{person.team}}
    </td>
    <td>
      <div *ngIf='person.prio' >
        {{person.priority}}
      </div>

    </td>
  </tr>
</table>

</div>
